body {
  font-family: Arial, Helvetica, sans-serif;
  width: 50%;
  margin: auto;
  }

  .emoji {
    border: 1px solid #222;
    border-radius: 8px;
    padding: 1rem;
  }
  
  .emoji h2 {
    margin: 0;
    border-bottom: 2px solid #ccc;
    display: flex;
    justify-content: center;
  }
  
  .emoji a {
    text-decoration: none;
    background-color: #781BAA;
    color: white;
    padding: 1rem;
    border-radius: 8px;
    display: flex;
    justify-content: center;
  }
  
  .icon {
    font-size: 4rem;
    display: flex;
    justify-content: center;
  }

  .emojis{
    display: grid;
    grid-template-columns: [column1] 300PX [column2] 300PX;
    grid-template-rows: [row1] 365px [row2] 365px;
    grid-gap: 60px;
  }

